<div class="container">

    <ul class="row nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Temp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">mvmt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">pres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">hum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Lum</a>
        </li>
    </ul>
    <div class="row">
        <div class="col">
            <canvas id="canvas1">{{ chart1 }}</canvas>
        </div>
        <div class="col">
            <canvas id="canvas2">{{ chart2 }}</canvas>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <canvas id="canvas3">{{ chart3 }}</canvas>
        </div>
        <div class="col">
            <canvas id="canvas4">{{ chart4 }}</canvas>
        </div>
    </div>

</div>
